@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
  margin: 0;
}

:root {
  --pink: #ff5a5f;
  --purple: #3C0E2F;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

label input {
  background-color: transparent;
  border: 1px solid var(--purple);
  padding: 0.875rem;
  border-radius: 0;
  margin-top: 4px;
  width: 100%;
}

form button {
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--purple);
  font-weight: bold;
  letter-spacing: 2px;
}

body {
	color: var(--purple);
  background-color: var(--pink);
	margin: 0;
	box-sizing: border-box;
	font-family: "Andika", sans-serif;
}

a {
	color: currentColor;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #3C0E2F22;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}


.bar {
  background-color: var(--pink);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  z-index: 10;
}

.bar a {
  display: block;
  padding: 15px;
}

.transition {
  height: 100%;
  width: 100%;
}

.transition main {
  height: 100%;
  width: 100%;
}

.transition > div:not(.bar) {
  height: 100%;
  width: 100%;
}

.ct {
  height: 100%;
  padding: 50px 15px 15px 15px;
  box-sizing: border-box;
}
h1 {
  margin-top: 0;
}